{% extends 'flatpages/default.html' %}


{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<h3>{% current_time '%b %d %Y' %}</h3>
<form action="" method="get">
    {{ filterset.form.as_p }}
    {# Добавим кнопку отправки данных формы #}
    <input type="submit" value="Найти"/>
</form>
{% if news %}
<h3> Колличество записей: {{ news | length }}</h3>
<table>
    <tr>
        <td>Название</td>
        <td>Дата публикации</td>
        <td>Текст</td>
    </tr>
    {% for new in news %}
    <tr>
        <td>{{ new.title }}</td>
        <td>{{ new.dateCreation | date:'d M Y'}}</td>
        <td>{{ new.text|truncatechars:20 }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Новостей нет!</h2>
{% endif %}
{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}
{% endblock content %}